.lo-main{
    width: 100%;
    height: 100vh;
    background-color: #0000003f;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999999999999999999999999999;
   display: none;
}

.media-c{
    margin-left: 6%; color: aliceblue;font-size: 0.8rem; font-family: lato;
}
.media-c1{
    color: aliceblue; font-size: 1.6rem; font-family: cinzel;text-align: left;margin-left: 4%;
}
.bg-color{
    width: 80%;
    height: 80vh;
    background-image: url(./Rectangle\ 1319.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.lo-form{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;

   
}
.lo-img>img{
width: 50%;

margin-top: -10%;
}
.lo-input{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 4%;
    margin-left:4% ;
    
}
.lo-input>input{
    width: 70%;
    height:35px;
    background-color: transparent;
    border-radius: 0%;
    margin-top: 20px;
    border: 0.6px solid #ffffff;
    color: white;
    font-size: 1rem;
    font-family: lato;
}
.lo-input>input::placeholder{
    font-family: lato;
    font-size: 0.7rem;
    color: aliceblue;
}
.lo-btn-text>input{
    background-color: #DBB86C;
    width: 35%;
    height: 30px;
    margin-left: 5%;
    border-color: transparent;

}
.input-lo::placeholder{
   padding-left: 10px;
   font-size:0.6rem ;
}
.lo-btn-text{
    display: flex;
    flex-direction: row;
   align-items: center;
   margin-top:5%;

}
.input-lo::placeholder{
color: #ffffff;
}
.crosslogin{
    position: absolute;top: 0%;width: 90%;display: flex;justify-content:end;padding-top: 50px;
}
@media(max-width:450px) {
  
    .bg-color{
        width: 80%;
        height: 60%;
    }
    .media-c1{
        font-size: 1.3rem;
    }
    .media-c{
        font-size:0.6rem ;
    }
    .lo-form{
        width: 80%;
        height: 70%;
    }
}
@media(max-width:360px) {
    .bflexmob {

        width: 100%;
        margin-top: 20px;
    }
.bg-color{
    width: 80%;
    height: 70%;
}
.media-c1{
    font-size: 1rem;
}
.media-c{
    font-size:0.5rem ;
}
.lo-form{
    width: 80%;
    height: 70%;
}
.input-lo::placeholder{
    font-size: 0.4rem;
}
}
@media(max-width:300px) {
    .bflexmob {

        width: 100%;
        margin-top: 20px;
    }
    .bg-color{
        width: 80%;
        height: 70%;
    }
    .media-c1{
        font-size:1rem;
    }
    .media-c{
        font-size:0.6rem ;
    }
    .lo-form{
        width: 80%;
        height: 70%;
    }.lo-btn-text>.buttons{
   height: 20px;
   
}
}
@media(max-height:550px) {
  
    .bg-color{
        width: 80%;
        height: 70%;
    }

}
@media(max-height:460px) {
  
    .bg-color{
        width: 80%;
        height: 80%;
    }

}
@media(min-width:601px){
    .lo-main{
        display: none;
    }
    .lo-main{
        height: 0px;
        width: 0px;
        overflow:hidden;
    }
    #distk{
        display: none;
    }
}
